<a href="https://colab.research.google.com/github/iktion/python_programming/blob/main/(9%EC%A3%BC%EC%B0%A8)_%ED%95%A8%EC%88%98_%EA%B3%A0%EA%B8%89%ED%8E%B8_ipynb_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

comprehension(함축, 내포) - 하나 이상의 반복자(iterator)를 사용하여 파이썬 자료구조를 만드는 방법

List comprehension
- for문을 계속 돌리다 보면 계쏙여러 줄이 만들어지는데, 이를 여러 줄로 표현하는 것보다 압축적으로 표현하는 방식.
- for문처럼 순회 가능한 객체를 list 내포

[f(xs)                              for xs in iter]

f(xs) 반복문 내의 변수 xs에 대한 함수 for xs in iter 순회 가능한 객체에 대한 반복문

[f(xs)  for xs in iter if pred(xs)]

if pred(xs) : 이러한 조건을 만족하는 요소들만 저장

In [1]:
a = []
for i in [1,2,3]:
    a.append(i+1)
print(a)

[2, 3, 4]

In [2]:
b = [i+1 for i in [1,2,3]]
print(b)
# 결과물은 같은데 위보다 짧게 입력 가능함

[2, 3, 4]

In [3]:
def calcul(i):
    c = i**2+3
    return c

In [4]:
d = [calcul(i) for i in [1,2,3]]
print(d)

[4, 7, 12]

In [5]:
e = [i+1 for i in [1,2,3] if i%2==0]
print(e)
# 리스트 안의 i가 짝수일 때에만 함수 적용하는 조건을 부여

[3]

In [6]:
f = []
for i in [1,2,3]:
    if i%2 == 0:
        f.append(i+1)
print(f)
# e 리스트와 동일한 내용인데, 내포를 안쓰니 줄이 더 많아짐.

[3]

- 1부터 5까지의 정수 리스트 만들기

In [7]:
# 단순 append 추가
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list

[1, 2, 3, 4, 5]

In [8]:
# 정의 후 반복문+append 함수로 추가
number_list=[]
for number in range(1,6):
    number_list.append(number)
number_list

[1, 2, 3, 4, 5]

In [9]:
# list 함수와 range 함수 쓰기
number_list = list(range(1,6))
number_list

[1, 2, 3, 4, 5]

In [10]:
# 리스트 내포 쓰기
number_list = [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [11]:
# 리스트 내포 쓰기 2
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [12]:
# 조건 적용, 리스트 내포 활용하여 1~5 중 홀수만 리스트에 추가
a_list = [number for number in range(1,6) if number % 2 ==1]
a_list

[1, 3, 5]

In [13]:
# for문 쓰는 것에 비해 리스트 내포가 훨씬 편함
a_list = []
for number in range(1,6):
    if number % 2 == 1:
        a_list.append(number)
a_list

[1, 3, 5]

- 리스트 내포 예제

sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

In [14]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

In [15]:
# 함수 적용
[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [16]:
# 조건 적용
[word.upper() for word in sentence if len(word) > 6]

['SOOOOOO', 'MUCH!!!']

In [17]:
# 함수 적용하여 튜플로 저장
[(x,x**2,x**3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 리스트 내포 - 두 개의 for

In [19]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [20]:
rows = range(1,4)
cols = range(1,3)
cells = [(row,col) for row in rows for col in cols]
for cell in cells:
    print(cell)
print('------')
print(cells)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)
------
[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

In [49]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

- 딕셔너리 내포

 {key_func(vars):val_func(vars) for vars in iterable}
 
 key:value 형태로 저장

예제

In [50]:
for letter in word:
    print(letter)

l
e
t
t
e
r
s

In [51]:
word.count('tt')

1

In [52]:
word.count('e')

2

In [53]:
word = 'letters'
letter_counts = {letter:word.count(letter) for letter in word}
letter_counts
# 그러나 이 코드에는 비효율적인 부분이 있다.
# 비효율적인 이유는 e를 두번 세는 걸 두 번 하게 됨. 
# 지금이야 letters 7글자 내에서 카운팅하나 변량이 증가하면 계산시간 증가

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [27]:
word = 'letters'
letter_counts = {letter:word.count(letter) for letter in set(word)}
letter_counts

{'e': 2, 'r': 1, 's': 1, 'l': 1, 't': 2}

In [28]:
set(word) #  중복을 제거하고 집합을 만들어 주는 set 함수.

{'e', 'l', 'r', 's', 't'}

- Set comprehension

{func(vars) for vars in iterable}

예제 : a_set = {number for number in range(1,6) if number % 3 == 1}

In [29]:
a_set = {number for number in range(1,6) if number % 3 ==1}
a_set

{1, 4}

- Comprehension

{v:k for k,v in d.items()}

{word for word in hamlet if is_palindrome(word.lower())}

## Functions - 기본 구조

- return 값을 갖는 함수

def function_name(param1, param2):
    value = do_something()
    return value
    
   - def 라는 키워드로 함수임을 나타냄
   - return은 해도 되고 안해도 됨. 만약 return이 없다면 아무 거도 돌려주지 않는 것
   - 매개변수에 변수 타입이 지정되지 않음
   - return 하는 값에 대한 타입도 지정하지 않음

- 덧셈 함수

def sum(a, b) :

      return a + b

sum(1, 2)

3

sum(1.3, 3.1)

4.4

sum('love', 'python')

'love python'

### iteration - zip()

- zip을 이용한 순회
> zip 이라는 함수를 이용하여 여러 시퀀스를 병렬로 순회할 수 있음

> days = ['Monday', 'Tuesday', 'Wednesday']

> fruits = ['banna', 'orange', 'peach']

> drinks = ['coffee', 'tea', 'beer']

> desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):

    print(day, ":drink", drink, "- eat", fruit, "- enjoy", dessert)

In [30]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banna', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

list(zip(days, fruits, drinks, desserts))

[('Monday', 'banna', 'coffee', 'tiramisu'),
 ('Tuesday', 'orange', 'tea', 'ice cream'),
 ('Wednesday', 'peach', 'beer', 'pie')]

In [31]:
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ":drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday :drink coffee - eat banna - enjoy tiramisu
Tuesday :drink tea - eat orange - enjoy ice cream
Wednesday :drink beer - eat peach - enjoy pie

### zip을 이용하여 영어-프랑스 사전 만들기

english = 'Monday', 'Tuesday', 'Wednesday'

french = 'Lundi', 'Mardi', 'Mercredi'

list(zip(english, french))

dict(zip(englsih,french))

In [32]:
english = 'Monday', 'Tuesday', 'Wednesday'

french = 'Lundi', 'Mardi', 'Mercredi'

list(zip(english, french))
#[('Monday','Lundi'),('Tuesday','Mardi'),('Wednesday','Mercredi')]
dict(zip(english,french))
#{'Monday':'Lundi','Tuesday':'Mardi','Wednesday':'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

## 함수 위치 인자
- 파이썬은 함수의 인자(argument)를 유연하게 처리함
- 인자: 함수를 불러서 쓸 때 실제로 집어넣는 값
- 우선 순서대로 상응하는 매개변수에 복사하는 위치인지(positional argumnet)

-- wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 변수
> def menu(wine, entree, dessert) → wine 등이 매개변수(parameter)

>        return{'wine': wine, 'entree': entree, 'dessert': dessert}
        
함수 호출

menu('chardonnary','chicken','cake') → chardonnary 등이 인자

출력

{'wine': 'chardonnary', 'entree': 'chicken', 'dessert': 'cake'}



각 위치의 의미를 잘 알아야 한다는 단점 존재. 첫번째가 와인이었나 앙트레였나. 기억해야 함

## 함수 키워드 인자

- 매개변수(parameter)에 상응하는 이름을 인자에 지정하여 준다면, 함수에서 정의된 순서와 다르더라도 알아서 잘 매핑해준다

함수 호출

menu(entree = 'beef', dessert = 'bager', wine = 'bordeux') → 위 함수와 순서가 달라도 인식됨

출력

{'wine': 'bordeux', 'entree': 'beef', 'dessert': 'bager'}

심지어 섞어서 쓸 수도 있는데, 위치 인자가 먼저 나와야 한다

menu('frontenac', dessert = 'flan', entree = 'fish') 

출력

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

## 기본 매개변수 값 정하기

- 함수 호출자가 인자(값)를 제공하지 않으면 기본값을 사용하게 됨.

(예) dessert의 기본값을 정해줌

> def menu(wine, entree, dessert = 'pudding'):

>    return{'wine': wine, 'entree': entree, 'dessert': dessert}

함수 호출

menu('chardonnay','chicken')

출력

{'wine': 'chardonnary', 'entree': 'chicken', 'dessert': 'pudding'}

dessert 값을 입력한 경우

호출

menu('dunkelfelder','duck', 'doughnut')


출력

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

### 가능한 경우

def menu(price, wine='chardonnay', entree='chicken', dessert = 'pudding'):

    return{'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

- 다음과 같은 호출이 가능함

menu(100)  1위치 인자

menu(price=100)  1 키워드 인자

menu(price=120, entree='beef')  2키워드 인자

menu(dessert='bager', price=110)  2키워드 인자

menu('eighty', 'saint-pierre', 'fish') 3위치 인자

menu('hundred', wine='saint-pierre') 1위치 인자, 1 키워드 인자

In [34]:
### 가능한 경우

def menu(price, wine='chardonnay', entree='chicken', dessert = 'pudding'):
    return{'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}


print(menu(100))
print(menu(price=100))
print(menu(price=120, entree='beef'))
print(menu(dessert='bager', price=110))
print(menu('eighty', 'saint-pierre', 'fish'))
print(menu('hundred', wine= 'saint-pierre'))

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}
{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bager'}
{'price': 'eighty', 'wine': 'saint-pierre', 'entree': 'fish', 'dessert': 'pudding'}
{'price': 'hundred', 'wine': 'saint-pierre', 'entree': 'chicken', 'dessert': 'pudding'}

- 다음과 같은 호출은 불가능함

menu()    price에 인자가 할당이 안됨

menu(price = 100, 'saint-pierre')  위치인자 saint-pierre를 쓰려면 먼저 써야 함. 키워드 인자 할당 후 위치 인자를 쓰면 안됨

menu(100, price = 120)  100이란 위치 인자도 price를 나타내는데 price=12 라고 키워드 인자를 중복 입력

menu(main='cream pasta')  main 은 정의되지 않은 매개변수임

어떻게 안되는지는 아래에서 확인 가능

In [39]:
menu()
# TypeError: menu() missing 1 required positional argument: 'price'
# pirce에 인자 할당이 안되었다는 뜻

TypeError: ignored

In [36]:
menu(price = 100, 'saint-pierre')
# positional argument follows keyword argument : 위치인자가 키워드 인자 뒤에옴

SyntaxError: ignored

In [37]:
menu(100, price = 120)

TypeError: ignored

In [38]:
menu(main='cream pasta')

TypeError: ignored

## docstring

- 함수 시작 부분에 문자열을 포함하여 함수 정의에 문서를 붙일 수 있음

> def echo(anything):

>        'echo returns its input argumnet'

>        return anything

> def print_if_true(thing, check):

>    """Print the first argumnet if a second argumnet is true.

>    The operation is:
>    1. Check whether the *second* argument is true.
>    2. If it is, print the *first* argument.
"""

>        if check:

>            print(thing)


### 나중에 help() 함수로 호출하여 쓸 수 있다.

In [43]:
def echo(anything):
    'echo returns its input argumnet'
    return anything

def print_if_true(thing, check):
    """Print the first argumnet if a second argumnet is true.
    The operation is:
     1. Check whether the *second* argument is true.
     2. If it is, print the *first* argument.
    """
    if check:
        print(thing)

In [41]:
help(echo)

NameError: ignored

In [44]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Print the first argumnet if a second argumnet is true.
    The operation is:
     1. Check whether the *second* argument is true.
     2. If it is, print the *first* argument.

In [46]:
print_if_true('haha', False)

In [ ]:
print_if_true('haha', True)

In [47]:
print_if_true('haha', 1==1)

haha

In [48]:
print_if_true('haha', 1==2)

## Python library

- 유용한 프로그램들을 미리 만들어 놓아 불러서 쓸 수 있게 한 것
- 패키지라고도 함
- 기본으로 설치되지 않은 것들을 필요할 때 설치할 수 있음

### 패키지 설치

- sciket-learn

 $ pip install scikit-learn
 
 machine learning library
 
 기계학습을 위한 다양한 알고리즘, 데이터셋 등이 포함됨
 
 관련된 다른 패키지(Numpy, SciPy)등이 자동으로 설치됨

이번 수업을 위해서

numpy, pandas, seaborn, matplotlib, scipy, scikit-learn 을 설치하면 됨

## 모듈

- 함수나 변수, 클래스들을 모아 놓은 파일

- 다른 파이썬 프로그램에서 불러와 사용할 수 있게끔 만들어진 파이썬 파일

- 모듈 만들기

> mod1.py 라는 파일을 만들어 저장

> 파일이 저장된 디렉토리에서 python 대화형 인터프리터 실행